// .card-img-fixed-height {
// 	width: auto;
// 	max-height: 400px;
// 	align-self: center;
// 	max-width: 100%;
// 	min-height: 400px;
// }

.img-card-wrapper {
	width: 100%;
	min-height: 400px;
	max-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	--img: '';

	.img-card-placeholder {
		height: 100%;
		z-index: 100;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.3s ease;

		span {
			display: block;
			height: 100%;
		}
	}

	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: var(--img);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		filter: blur(10px);
		opacity: 0.5;
	}

	&.loading {
		&::before {
			opacity: 0;
		}
	}
	.card-img-fixed-height {
		width: auto;
		max-height: 100%;
		max-width: calc(100%);
		z-index: 2;
		transition: all 0.3s ease;
	}
}

.search-bar {
	position: relative;

	svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 24px;
	}
	input {
		padding-left: 38px;
	}
}

.rating {
	display: flex;

	&.rating-can-change {
		font-size: 2em;
		.rating-label {
			cursor: pointer;
		}
	}

	.rating-label {
		color: orange;
		padding: 0 0.25em;
		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: 0;
		}
	}

	.rating-input {
		display: none;
	}
}

.review-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	$button-size: 42px;
	margin-bottom: 0.5rem;

	.review-body {
		width: calc(100% - $button-size);
		.text-wrap {
			overflow-wrap: break-word;
		}
	}
	button {
		width: $button-size;
		height: $button-size;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
